{% extends 'base.html' %} {% block head %}

<title>Khag-bot server</title>
{% endblock %} {% block body %}
<div class="container">

  <div class="post-items">
    <div class="post-image-target">
      <img src="https://cdn.dribbble.com/users/642793/screenshots/15297532/media/f206f39d6f866d19d00f830ba2a2ae7d.png"
        alt="" class="post-image" />
    </div>

    <div class="post-name-target">
      <h1 class="post-name" underline="true">KHAG</h1>
    </div>
    <div class="post-category-command">
      <a href="https://discord.com/api/oauth2/authorize?client_id=847110751084609577&permissions=8&scope=bot"
        class="post-category">
        <p class="post-category-link">Invite This Bot</p>
      </a>
      <h2 class="post-command">Prefix: "kg"</h2>
    </div>
    <div class="post-what-target">
      <div class="post-what">
        <h2>What is Khag-bot ?</h2>
        <h3>Khag-bot is a demo discord bot</h3>
      </div>
      <div class="post-what-image-discord-target">
        <div class="post-what-image-discord">
          <div class="post-what-image-target">
            <img
              src="https://cdn.dribbble.com/users/1736305/screenshots/14003478/media/a6f14cbf944bdc77e55f4503b812e7dc.png"
              alt="" class="post-what-image">
          </div>
          <div class="post-what-discord">
            <h2 class="post-what-discord-title">JOIN US HERE</h2>
            <div class="post-discord">
              <iframe src="https://discordapp.com/widget?id=479646583005118464&theme=dark" width="auto" height="375"
                allowtransparency="true" frameborder="1"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="post-author-box-target">
      <div class="post-author-box">
        <a href="https://www.facebook.com/niraito" class="post-author">
          <img src="https://cdn.dribbble.com/users/642793/screenshots/14507771/media/e2a31e48133b61dcfc311f6a80638929.png"
            alt="" class="post-author-image" />
          <div class="post-author-infor">
            <h4 class="post-author-name">By: Khang Nguyen</h4>
            <time class="post-author-time">Just now</time>
          </div>
      </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}